
html,body,#container {
	height:100%;
}
body > #container {
	height:auto;
	min-height: 100%;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
}

.navbar li {
	float: left;
}

a:link {
	color:grey;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a {
	display: block;
	padding: 5px;

}

.si {
	position: absolute;
	margin: -150px 0 0 -150px;
  	left: 50%;
  	top: 50%;
}
/*img {
	display: block;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: -200px;
	bottom: 0;
}*/
form {
	position: absolute;
	margin-top: 10px;
	margin-left: 50px;
	
}

.footer {
	clear:both;
	position: relative;
	z-index 10;
	height: 3em;
	margin-top: -3em;
}

.footer ul {
	list-style-type: none;
	float:right;
}
.footer li {
	float: left;

}